#include <windows.h>
#include "Fill.h"

MYMENU MENU DISCARDABLE
BEGIN
	MENUITEM "&Draw Circle", ID_DRAW_CIRCLE
	MENUITEM "&Fill", ID_FILL
	MENUITEM "&Clear", ID_CLEAR
	MENUITEM "&Exit",  ID_EXIT
END

MyDB DIALOG DISCARDABLE  0, 0, 250, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Circle Radius"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "OK",ID_OK,31,100,50,14
	PUSHBUTTON      "CANCEL",ID_CANCEL,104,100,50,14
	LTEXT           "Radius 1:",ID_LABEL1,15,14,108,17
	LTEXT           "Raduis 2:",ID_LABEL2,15,44,108,22
	LTEXT           "Raduis 3:",ID_LABEL3,15,74,108,27
	EDITTEXT        ID_EB1,114,14,40,15,ES_AUTOHSCROLL
	EDITTEXT        ID_EB2,114,41,38,15,ES_AUTOHSCROLL
	EDITTEXT        ID_EB3,114,68,36,15,ES_AUTOHSCROLL
END

